@model Message
@{
    ViewData["Title"] = "MessageDetail";
}

<h3>Mesaj İçeriği</h3>

<table class="table table-striped">
    <tr>
        <th>Gönderen Ad Soyad:</th>
        <td>@Model.Sender.FirstName @Model.Sender.LastName</td>
    </tr>
    <tr>
        <th>Gönderen Email:</th>
        <td>@Model.Sender.Email</td>
    </tr>
    <tr>
        <th>Gönderen Konu:</th>
        <td>@Model.Subject</td>
    </tr>
    <tr>
        <th>Mesaj :</th>
        <td>@Model.Body</td>
    </tr>
</table>

<a href="/Message/Index" class="btn btn-primary">Mesajlara Geri Dön</a>